{% extends 'views/base.html' %}
{% load static %}

{% block title %} delete | Case{% endblock %}

{% block main_content %} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<div class="flex items-center justify-center m-12">
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
        
        
                    <p>Are you sure you want to delete "{{item}}"?</p>
        
                    <form action="{% url 'deleteCase' item.id  %}" method="POST">
                        
                        {% csrf_token %}
                        <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
        
                        <input class="" type="submit" name="Confirm">
                    </form>
                </div>
            </div>
        </div>



    </div>
</div


{% endblock %}